body {
    padding: 2em;
}

#spacer {
    height: 50vh;
    width: auto;
    background-color: aliceblue;
    display: block;
}
  
.container{
    width: 100vw;
    height: 100vw;
    max-width: 1000px;
    max-height: 1000px;
    position: relative;
    /* background-color: black; */
    border-radius: 50%;
    animation: spin 20s linear infinite;
    transition: 1s;
    opacity: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}
.container.active{
    opacity: 1;
}
  
.container .field {
    width: auto;
    height: 100px;
    position: absolute;
    border-radius: 5px;
    /* animation-name: moving;
    animation-duration: calc(var(--d)*3);
    animation-iteration-count: infinite;
    animation-timing-function:ease-in; */
    /* animation:  moving calc(var(--d)*3) ease-in 2s infinite */
    animation: spin 20s linear infinite reverse;
    transition: height 1s;
}

.container .field:hover {
    height: 150px
}

/* #container:hover, #container:hover > .field{
    animation-duration: 5s;
    
} */

@keyframes moving {
    0% {transform: translate(-10px,-10px);}
    12.5% {transform: translate(-13px,0px);}
    25% {transform: translate(-10px,10px);}
    /* 37.5% {transform: translate(0px,0px);} */
    50% {transform: translate(10px,-10px);}
    62.5% {transform: translate(13px,0px);}
    75% {transform: translate(10px,10px);}
    /* 87.5% {transform: translate(0px,0px);} */
    100% {transform: translate(-10px,-10px);}
}

@keyframes spin {
    100% {transform: rotate(1turn);}
}